input#start,input#end,input#dte,input#member {
    box-shadow: none;
    border: none;
    padding: 0px 10px;
    background: transparent;
    border-bottom: 1px solid #b9b6b6;
    padding: 0px;
    font-size: 16px;
    color: #f9f9f9;
    opacity: 0.9;
}
input#dte {
    margin: 0px 15px 0px 30px;
}
input#member {
    margin-right: 15px;
}

.oky1 {
    /* padding: 5px; */
    /* padding: 0px; */
    height: 32px !important;
    border-radius: 0.2rem !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}
i.fas.fa-bus,i.fas.fa-long-arrow-alt-right,i.fas.fa-male {
	font-size: 28px;
	padding: 5px;
	margin-right: 10px;
    color: #f9f9f9;
}
section#srch_ky {
    /* background: #f9f9f9; */
    background-image: linear-gradient(270deg, #9a2fdb 0px, rgb(89, 7, 103) 72%);
    padding: 40px 0px 20px 0px;
}
label.from_date {
    left: 30px;
    top: -12px;
    font-size: 14px;
    position: absolute;
    color: #f9f9f9;
    opacity: 0.5;
}


label.from_title {
    left: 0px;
    top: -12px;
    font-size: 14px;
    position: absolute;
    color: #f9f9f9;
    opacity: 0.5;
}
.form-control .tht{
	background-clip: initial;
}

input[type="date" i] {
    align-items: center;
    display: -webkit-inline-flex;
    font-family: monospace;
    padding-inline-start: 1px;
    cursor: default;
    overflow: hidden;
    padding: 10px;
}

.select2-container .select2-selection--single{
	height: 34px !important;
}
.select2-container--default .select2-selection--single{
	border: 1px solid #ccc  !important;
	border-radius: 0px !important;
}
div.refine ul li {
    display: inline;
    font-size: 14px;
    margin:10px; 
}

summary {
    color: #010101;
    font-size: 14px;
    margin-left: 10px;
}
summary:focus {
  outline: none;
}

td.tifl3 {
    text-align: right;
    font-size: 16px;
}


i.fas.fa-redo {
    font-size: 11px;
    margin-right:5px;
    color:#9a2fdb !important;
    font-weight:bolder;
}
.tt1 {
    margin: 3px 0px 3px 10px;
}

.form-check label {
    cursor: pointer;
    font-size: 14px;
}
.refine ul {
    margin-bottom: 10px;
}
.refine ul {
    margin-top: 10px;
}

.refine ul li.left { 
    float: left;
}

.refine.tt ul li.right {
    float: right;
}

.refine ul li.left,.refine.tt ul li.right { 
    margin-top: 0px; 
    font-weight: 500;
}
.refine.tt ul {
    margin-top: 6px;
    margin-bottom: 6px;
}

div.refines ul li a {
    float: right;
    color: #000;
    text-decoration: none;
    margin: 4px 10px;
}

div.refine ul li a {
    float: right;
    color: #000;
    text-decoration: none;
    margin: 4px 10px;
}
div.refine ul li a:hover {
  
    color:  #9a2fdb; 
    text-decoration: none;
    margin: 4px 10px;
}

 
.sub {
    background-color: #E9ECED;
    margin-top: 20px;
}
.head_tittle span { 
    font-size: 14px; 
}
.ttle56 { 
    padding: 10px 0px;
}

label.dis_okay {
    margin: 0px;
    font-size: 17px;
}


i.fas.fa-chevron-left,i.fas.fa-chevron-right {

    font-size: 12px;
    text-decoration: none;
}
i.fas.fa-chevron-left{
   margin-right: 2px;
}

i.fas.fa-chevron-right {
    margin-left: 2px;

    vertical-align: middle;
}

span.date_book label {
    font-size: 14px;
    color: green;
    vertical-align: top;
}

span.pr5 a{
    color: #a1a1a1;
    border: 1px solid #ccc;
    padding: 4px 6px;
    background-color: #fff;
    font-size: 14px;
}

span.pr5 a:hover{ 
    text-decoration: none;    
    border: 1px solid #9a2fdb;
    background: #9a2fdb !important;
    color: #fff !important;

}
.ff {
    color: #a1a1a1;
    border: 1px solid #ccc;
    padding: 3px 8px;
    background-color: #fff;
    font-size: 14px;

    border-radius: 0px;
    /*background: #E9ECED;*/
    /*color: #3E4141;*/
    /*border-color: #C0C0C0; */
    text-decoration: none;
}
.ff:hover{
 text-decoration: none;    
 border: 1px solid #9a2fdb;
 background: #9a2fdb !important;
 color: #fff !important;

}

tr.rrw:hover { 
    background-color: #f1f1f1;

}
td.tifl3 ul li {
    list-style: none;
}

td.bus_ok2 ul li {
    list-style: none;
}

.name_okay {
    font-size: 16px;
}

li.name_okay {
    font-size: 16px;
}
li.fac_oka2 {
    color: green;
     font-size: 12px;
}

td.tifl3 ul {
    margin: 0px;
}
 .rtr {
    background: #E9ECED;
    margin: 20px 0px;
}

.dit_ok56 {
    background: #f1f1f1;
}

.ttle34 {
    /*background: #f9f9f9;*/
    margin: 15px 0px;
    font-size: 16px;
}

.ltl45 {
    padding: 10px 2px 0px;
    font-size: 16px;
    font-weight: 500;
}


.crtc {
    background: #f2f2f2;
    font-size: 18px;
}

.crtc1 {
  
    font-size: 16px;
    font-weight: 200;
}
 
.dep_okay {
    text-align: right;
}

.dis tr th {
    padding: 0px 5px;
}

td.loc5_okay,td.dep_okay {
    padding: 0.4em;
    font-weight: 400;
}

.dis {
    font-size: 16px;
}

 .utv12 {
    padding: 0rem !important;
    border-top: 0px !important;
    font-size: 14px;
}

.bus_okay1 ul li {
    list-style: none;
}

.bus_title34 {
    font-weight: 600;
    margin-top: 10px; 
}

p.faclit12 {
    font-size: 14px;
    padding: 0px;
    margin: 0px;
}
.date23{
    margin-right: 20px;
}

.date23,.faclit12,.date890  {
    font-size: 14px;
}
.drp90 {
    margin-top: 0.5rem;
}
select#plcp12,select#pi45u {
    border-radius: 0px;
    padding: 4px;
    height: calc(1.1em + 0.75rem + 1px);
    font-size: 14px;
    box-shadow: none;
}

.oky102 {
    font-size: 14px;
    padding: 0.21rem 0.5rem;
     box-shadow: none;
}

.imgs img, .imgsl img,.se23 img {
    height: 30px;
}

.imgsl img { 
    margin-left: auto !important;
}

.long_middle ul li {
    list-style: none;
}

div#design_okay12 {
    height: 257px;
    overflow: scroll;
    padding: 30px 75px 30px 65px;
    /* border: 1px solid; */
    /* width: 50%; */
    overflow-x: hidden;
    /* overflow-y: hidden; */
    /*background: #eee*/
}
 .hrd_tit {
    font-size: 18px;
}

.imgs12s {
    margin-left: auto !important;
}

.long_middle ul {
    margin-bottom: 0px;
}

.predesign {
    background: #EEE;
    padding: 10px 2px 0px;
}

div#design_okay12::-webkit-scrollbar {
  width: 0.5em;
}
 
div#design_okay12::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}
 
div#design_okay12::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 50px;
}

 .se23 {
    margin-left: auto;
    margin-right: auto;
}

p.tit_seat34 {
    font-size: 14px;
}


.select2-container .select2-selection--single{
    height:34px !important;
}
.select2-container--default .select2-selection--single{
         border: 1px solid #ccc !important; 
     border-radius: 0px !important; 
}

