/* ==================================================================================================== */

@media (min-width: 992px){

}




/* ================================================================================================== */
@media (max-width: 992px){

}



/* =================================================================================================== */

@media (max-width: 576px) 
{

    .col-md-12.col-sm-12.col-lg-12.top_learn a {
        color: #fff;
        font-size: 10px;
    }
    label.okay_hhdr { 
        font-size: 14px;
        padding-left: 0px;
        margin-top: 2px; 
    }

    span.okay_hdr {
        margin-top: 0px;
    }

    ._div2 {
        height: 300px;
        margin-top: 0px; 
    }

    .title-style span {
        display: inline-block;
        position: relative;
        font-size: 24px;
        font-weight: 600;
        color: #000000b3;
    }
    .title-style {
        margin-top: 25px;
    }

    ul.list-inline.facili li { 
        color: #2329ea82; 
        font-size: 18px;
        margin: 6px;
    }

    .title-style span::before, .title-style span::after {
        content: "";
        position: absolute;
        height: 5px;
        border-bottom: 1px solid #6500a8; 
        border-top: 2px solid #9a2fdb; 
        top: 22px;
        width: 0%; 
        display: block;
    }

    ul.list-inline.facili li {
        /* color: #EA2330; */
        color: #2329ea82;
        padding: 0px 0px; 
        font-size: 18px;
        margin: 6px;
    }

    .section-header h3 {
        font-size: 24px;
    }

    .carousel-inner img {
        height: auto;
    }
    section#okay_travel {
       height: auto; 
       width: 100%;
       background: #9a2fdb;
   }

}
/* ==================================================================================================== */

@media (min-width:512px) and (max-width:900px) {

   .carousel-inner img {
    height: auto;
}

._div2 {
    height: auto;
    width: 100%;
    background: #f5f5f5;
    padding: 30px;
    border-radius: 3px;
    margin-top: 0px; 
}
.title-style span::before, .title-style span::after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid #6500a8; 
    border-top: 2px solid #9a2fdb; 
    top: 22px;
    width: 30%; 
    display: block;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    
}


}
/* ==================================================================================================== */


@media (max-width: 768px)  { 




}

