.col-lg-6.col-md-6.col-sm-12.tht {
    /* background: linear-gradient(to bottom, #076CA9 9%, #2cbfeb 100%); */

    
/* background: linear-gradient(to bottom, #075ea96b 9%, #2cebada3 100%); */
background: linear-gradient(to bottom, #075ea991 9%, #2cebada3 100%);
    
    box-shadow: 2px 2px 15px  #076CA9;
  -webkit-box-shadow: -8px -9px 18px -9px rgba(43,189,233,0.61);
    -moz-box-shadow: -8px -9px 18px -9px rgba(43,189,233,0.61);
    /* box-shadow: -8px -9px 18px -9px rgba(43,189,233,0.61);; */
}

.col-lg-6.col-md-6.col-sm-12.clr {     
    /* box-shadow: 2px 2px 15px  #076CA9; */
    background: #fff;
    padding: 0px;
}
 
img.img-fluid.ttgs { 
    height: 309px;
    margin-left: 20%;
}


img.img-fluid.ttg {
    margin-top: 10%;
    margin-left: 20%;
    height: 325px;
}

.col-lg-12.col-md-12.col-sm-12.lgn {
    padding: 60px 150px;
    
}
.text-center.frn {
    padding: 30px 45px;
}


label.tcct {
    font-size: 28px;
    color: #fff;
}

.form-check.form-check-inline.rty41 {
    float: left; 
    font-size: 12px;
}

input#phon12,input#phon2,input#email11,input#name12,input#confrim12,select#dist12 {
    border-radius: 0px;
    box-shadow: none;
    border: 0px;
    font-size: 12px;
}

select#dist12{
    border:none;
    color: #495057;
}

section#sgn1 {
    background: #f9f9f9;
}

button.btn.btn-primary.t4567 {
    margin-top: 1rem;
    padding: 8px 40px;
    border: #34AD39 1px solid;
    /* background: #34AD39; */
    background: #34ad39c9;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1px;
}


span.swp {
    font-size: 12px;
    font-weight: 400;
    color: #212529;;
    float: left;
    margin-bottom: 40px;
    margin-top: 7px;
}
span.swp a {
     
    /* border-bottom: 1px solid #076CA9; */
    padding: 0px;
    /* text-decoration: none;  */
    color: #2222f9;
    /* float: left; */
 
}

span.swps a {
     
    float:right;
    /* border-bottom: 1px solid #076CA9; */
    padding: 0px;
    /* text-decoration: none;  */
    font-size: 12px;
    color: #2222f9;
    font-weight: 400;
    margin-top: 7px;
 
}

