
*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	/*font-family: 'Roboto', sans-serif;*/
  /*font-family: 'Open Sans', sans-serif;
  font-family: 'Lora', serif;*/
  font-family: 'Muli', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


p{
  margin-bottom: 0px !important;
}
nav.navbar.navbar-expand-lg.sticky img {
  margin-left: -18px;
}
nav.navbar.navbar-expand-lg.navbar-expand-sm.navbar-light {
  padding-left: 0px;
}
section#headerr {
  background: #6806A2;
  /*background: #AD53E3;*/
  /*background: #9B2FDB;*/
}

section#okay_travel{
 /*height: 110px;*/ 
 background: #9a2fdb; 
 padding-bottom: 7%;
}
}

li.nav-item.active a{
  background: #9a2fdb;
  color: #fff !important;
  font-weight: 500;
  padding: 0.5rem 1rem !important;
}

/*.nav-tabs .nav-link:hover { 
  color: #000;
  background: red;
  }*/



  label.okay_hhdr {
   margin: 0px; 
   font-size: 14px;
   padding-left: 0px;
   /*margin-top: 5px;*/
 }
 
 a.navbar-brand img {
  width: 120px;
  height: 50px;
}

input.form-control.search-slt,button.btn.btn-danger.wrn-btn { 
  border-radius: 0px;
  box-shadow: none;
  font-size: 14px;
  border: 1px solid transparent;
}


/*span.okay_hdr a::after {
    content: "|";

    }*/

    li.te90 a{
      text-decoration: none;
    }

    li.te90 a::after {

      content: " | ";
      padding6-right: 5px;
    }

    span.okay_hdr a {
      font-size: 14px;  
      padding-right: 3px;
    }
    span.okay_hdr {
      margin-top: 1px;
    }

    i.fab.fa-facebook,i.fab.fa-twitter,i.fab.fa-instagram,i.fab.fa-youtube {
      padding: 0px 2px;

    }
    i.fab.fa-twitter{
      color:#00acee;
    }
    i.fab.fa-youtube {
      color:#c4302B;
    }
    i.fab.fa-facebook{
      color: #3b5998;
    }
    ._div1 ul {
      text-align: center;
      margin-top: 15px;
    }

    .top_learn a {
      color: #fff;
    }
    select#pickup1,select#dropup1 {
      box-shadow: none;
      border-radius: 0px;
      border-color: transparent;
      font-size: 14px;
    }

    header.sticky {
      position: sticky;
      top: 0;
      z-index: 999;
      background: #ffffff;
      box-shadow: 0px 5px 40px -30px rgba(0, 0, 0, 1);
    }


    a#home-tab {
      margin-left: -15px;
    }
    .nav-tabs {
      border-bottom: 0px solid transparent !important;
    }


    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {

      border-color: transparent !important;
      border-radius: 0px;
    } 
    a.nav-link {
      padding: 0.5rem 1rem !important;
    }

    .dropdown-menu.show {
      padding: 0px;
      border-radius: 0px;
      border:0px solid red;
      background: #f5f5f5;
      border-top: 2px solid  #9a2fdb;
    }
    .title-style span {
      display: inline-block;
      position: relative;
      font-size: 28px;
      font-weight: 600;
      color: #000000b3;
    }

    .title-style{

      text-align: center;
      padding: 30px 0 15px; 
      font-size: 23px;
      color: #080808; 
      text-transform: capitalize;
      margin-top: 55px; 
      font-weight: 500; 
      clear: both;
      /*background:#f5f5f545;*/
    }

    .title-style span::before, .title-style span::after {
      content: "";
      position: absolute;
      height: 5px;
      border-bottom: 1px solid #6500a8;
      border-top: 2px solid #9a2fdb;
      top: 22px;
      width: 80%;
      /*max-width: 150px; */
    }
    .title-style span::before {
      right: 100%;
      margin-right: 15px;
    }

    .title-style span::after {
      left: 100%;
      margin-left: 15px;
    }
    .drd {

      border-bottom: 1px solid #21252957 !important;
    }

    .drd:last-child {

      border-bottom: 0px solid #010101 !important;
    }


    a#profile-tab,li.nav-item a:hover {
      background:#9a2fdb;
      border-radius: 0px;
    }
    a#profile-tab{
      background:transparent;
    }
    a#home-tab:hover{
     background:#9a2fdb;  
   }
   nav.navbar.navbar-expand-sm.navbar-light.pre_header_1 {
    max-height: 25px;
  }
  a.nav-link {
    color: #000 !important;
  }

  .container-fluid.header_okay {
    background: #fff;
  }
  

  .okay_search ._2Ysz {

    left: 8px;
    color: #b9b9b9;
  }

  .container-fluid.header_okay {
    /*background: #F9F9F9;*/
    box-shadow: 2px 2px 2px #ccc;
  }

  .okay_search input {
    width: 90%;
    /*font-size: 1.4rem;*/
    /*padding: 0 8px 8px 3px;*/
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #ebebeb;
    /*margin-left: 35px;*/
    outline: none;
    /*font-size: 12px;*/
  }
  .okay_search input[type="search"]:hover {
    background: #f5f5f5;
  }
  
  .okay_search.mr-auto a {
    color: #000;
  }


  .text_okay p {
    color: red;
    text-align: right !important;
    font-size: 18px;
  }



  /*====================  okay_travel Section ========================*/
  label.titl34 {
    font-size: 14px;
  }

  ._div1 ul li {
    display: inline; 
    /*position: relative;*/
    font-size: 28px;
  }

  .titl34.active {
    color: #f5f5f5;
  }
  section#slug {
    padding: 20px;
    /* margin: 20px; */
    background: #f4f4f4;
  }

  ._div2 {
    height: 180px;
    width: 100%;
    background: #f5f5f5;
    padding: 45px;
    border-radius: 3px;
    margin-top: -100px;
    -webkit-box-shadow: 0px 5px 12px rgba(6, 5, 5, 0.03);
  }

  ._div22 {
    height: 80px;
    width: 100%; 
    padding: 30px;
    border-radius: 3px;
    text-align: center;
  }

  .form-row i {
    font-size: 25px;
    margin-top: 3px;
    padding-right: 5px;
  }

  ._div_2 h4 {
    text-align: center;
    padding-top: 4%;
  }

  ul.list-inline.facili {
    text-align: center;
    /*padding-top: 20px;*/
    padding-bottom: 4%;
  }


  .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0rem; 
  }

  ul.list-inline.facili li {
    color: #C37FEC;
    /*color: #2329ea82;*/
    padding: 6px 12px;
    font-size: 20px;
  }
  .list
  input#date {
   display: inline-block;
   width: 100%;
   height: calc(1.5em + 0.75rem + 2px);
   padding: 0.375rem 1.75rem 0.375rem 0.75rem;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #495057;
   vertical-align: middle;
   background-color: #fff;
   border: 1px solid #ced4da;
   border-radius: 0.25rem;
   -webkit-appearance: none;
 }



 ._div1 ul li a {
  color: #000;
  text-decoration: none; 
  display: inline;/*
  padding-right: 15px;
  padding-left: 15px*/;
  /*position: relative;*/
  font-size: 18px;
  margin: 7px;
}
._div1 ul li a:hover {
  color: #f5f5f5;
  text-decoration: none;
  text-shadow: none;

}


.carousel-inner img {
  height: 430px;
}

._div_2_slide {
  margin-top: 35px;
}

._div_2_slide h4 {
  text-align: center;
  margin: 50px 0px 40px 0px;
  color: #000;
}

section#okay_slider {
  color: red;
  background:#f5f5f5;
  padding-bottom: 45px;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}



.row.rtr {
  margin: 0px !important;
} 
/*slider -----csssssss*/
#exampleSlider {
  position: relative;
  /*border: 1px solid black;*/
}
@media (max-width: 767px) {
  #exampleSlider {
    border-color: transparent;
  }
}
#exampleSlider .MS-content {
  margin: 15px 0%;
  overflow: hidden;
  white-space: nowrap;
  /*border: 1px solid red;*/
}
@media (max-width: 767px) {
  #exampleSlider .MS-content {
    margin: 0;
  }
}
#exampleSlider .MS-content .item {
  display: inline-block;
  height: 100%;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  /*border: 1px solid green;*/
  border-right: none;
  width: 20%;
}
@media (max-width: 1200px) {
  #exampleSlider .MS-content .item {
    width: 25%;
  }
}
@media (max-width: 992px) {
  #exampleSlider .MS-content .item {
    width: 33.3333%;
  }
}
@media (max-width: 767px) {
  #exampleSlider .MS-content .item {
    width: 50%;
  }
}
#exampleSlider .MS-content .item p {
  font-size: 30px;
  text-align: center;
  line-height: 1;
  vertical-align: middle;
  margin: 0;
  padding: 10px 0;
}
#exampleSlider .MS-controls button {
  position: absolute;
  border: none;
  background: transparent;
  font-size: 30px;
  outline: 0;
  top: 35px;
}
@media (max-width: 767px) {
  #exampleSlider .MS-controls button {
    display: none;
  }
}
#exampleSlider .MS-controls button:hover {
  cursor: pointer;
}
#exampleSlider .MS-controls .MS-left {
  left: 10px;
}
@media (max-width: 992px) {
  #exampleSlider .MS-controls .MS-left {
    left: -2px;
  }
}
#exampleSlider .MS-controls .MS-right {
  right: 10px;
}
@media (max-width: 992px) {
  #exampleSlider .MS-controls .MS-right {
    right: -2px;
  }
}

.fa-chevron-left:before {
  content: "\f053";
  /*color: transparent;*/
}


.text_okay h5 {
  text-align: center;
  margin: 8px;
  font-size: 16px;
}
.col-md-3.col-lg-4.col-xl-3.mx-auto.mb-4 p {
  text-align: justify;
}

footer.page-footer.font-small.color-dark {
  background: #F5f5f5;
}

.footer-copyright.text-center.py-3 {
  background: #4f4b4b;
  color: #fff;
}

section#book_div {
  background: red;
}

h6.text-uppercase.font-weight-bold {
  color: #fff;
}


footer.page-footer.font-small.color-dark p a {
  color: #ddd;
}

footer.page-footer.font-small.color-dark p a:hover {
  color: #FE0000;
  text-decoration: none;
}

footer.page-footer.font-small.color-dark {
  background: #1E1C26;
}

.footer-copyright.text-center.py-3 a {
  color: #FE0000;
}
.col-md-4.col-lg-3.col-xl-3.mx-auto.mb-md-0.mb-4 p {
  color: #ddd;
}



.col-md-6.col-lg-7.text-center.text-md-right a {
  color: #000;
}

h6.mb-0 {
  color: #000;
}

._div_2_slide h4 ::after {
  content: " ";
  border-bottom: 2px solid red;
 /* background-color: yellow;
 color: red;*/
 font-weight: bold;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 30px;
}
h6.text-uppercase {
  color: #ddd;
  font-weight: 500;
  font-family: sans-serif;
}

.footer-copyright.text-center.py-2 {
  /*background: #262330;*/
  border-top: 1px solid #363636;
  color: #fff;
  font-size: 14px;
}

section#mul_okay {
  margin-bottom: 4%;
  margin-top: 2%;
}
.carousel-caption.d-none.d-md-block h5{
  color: red;
  }3

  .carousel-caption.d-none.d-md-block h5 p {
    color: red !important;
  }





  .search-sec{
    padding: 2rem;
    z-index: 444;
  }
  .search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    /*color: #55595c;*/
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 1px) !important;
    border-radius:0;
    /*z-index: 999;*/
    outline: none!important;
  }
  .wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 1px) !important;
    border-radius:0;
  }
  @media (min-width: 992px){
    .search-sec{
      /*position: relative;*/
      top: -114px;
      background: rgba(26, 70, 104, 0.51);
    }
  }

  @media (max-width: 992px){
    .search-sec{
      background: #1A4668;
    }
  }
  /*-------------------------booking page-------------------*/

  form.form-inline.srrch .form-control {
    /*margin: 50px;*/
    border-radius: 0px;
    padding: 0px 15px;
  }

  input#date {
    border-radius: 0px;
  }

  button.btn.btn-danger.mb-2 {
    border-radius: 0px;
    border-radius: 0px;
    padding: 6px 18px;
    margin-left: 15px;
  }



  ._div1 ul li i {
   font-size: 20px;
   margin-right: 8px;
   margin-top: 5px;
   /*-webkit-text-stroke: 0.3px #000;*/
   text-shadow: 0 0 5px #fff;
 }



 .input-group.mb-2.mr-sm-2 {
  margin-left: 10px;
}



span.text {
  float: right;
  margin-top: -10px;
}



.col-md-3.col-lg-3.col-sm-3.sidee {
  border-right: 1px #ccc solid;
  border-left: 1px #ccc solid;
  padding: 0px;
}






.refines ul {
  display: inline-flex;
  text-decoration: none;
} 

tr.rrw {
  background: #f9f9f9;
  font-size: 14px;
}


thead {
  font-size: 14px;
  color: #6E7DCE;
}
.col-lg-12.col-md-12.col-sm-12.rtr.okt {
  padding: 0px;
  background: transparent;
  margin-top: 45px;
}



a#profile-tab:hover {
  background: #9a2fdb; 
  border-radius: 0px;

}

th.pric {
  text-align: right;
  padding-right: 20px;
}


.slidt {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slidt:hover {
  opacity: 1;
}

.slidt::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: red;
  cursor: pointer;
  border-radius: 50%;
}





#services { 
  padding: 60px 0 40px 0;
}

.section-header h3 {
  font-size: 28px;
  color: #000000b3; 
  text-align: center;
  font-weight: 600;
  position: relative;
  padding-bottom: 12px;
  margin: 60px 0px;
}
.section-header h3::before {
  content: '';
  position: absolute;
  display: block;
  width: 160px;
  height: 1px;
  background: #aaa;
  bottom: 1px;
  left: calc(50% - 77px);
}

.section-header h3::after {
  content: '';
  position: absolute;
  display: block;
  width: 55px;
  height: 3px;
  background: #6500a8;
  bottom: 0;
  left: calc(49.5% - 20px);
}

.nav-tabs .nav-link {
 border: 0px solid #9a2fdb !important; 

} 


.col-md-12.col-sm-12.col-xs-12.sldr {
  padding: 0px;
  margin-bottom: 15px; 
  border-radius: 5px 5px 5px 5px;
}

.ger { 
  font-size: 12px;
  letter-spacing: 0.3px;
  border-radius: 2px;
  padding: 0.20em 0.3em;
  font-family: sans-serif;
  font-weight: 500;
}

.we34 {
  display: inline-block;
}

.tiit12 {
  text-align: center;
  display: inline-block;
  margin: 0px 15px;
}

img.img45 {
  height: 24px;
}

li.com_li {
  display: inline;
}

.oky12 {
  background: #F5F8F9;
  border:0px solid rgba(0, 0, 0, 0.125);
  border-radius: 0px;
}

label.footer_heading p {
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 30px;
}

label.footer_col p a {
  color: #222;
  text-decoration: none;
}

label.footer_col p a:hover {
  color: #B21FC7; 
}

label.okay_family ul li {
  display: inline;
  margin: 0px 10px 0px 0px;
}

label.footer_pay ul li {
  display: inline;
}

label.footer_pay p {
  font-weight: 600;
  font-size: 18px;
}

.soc_icon ul li {
  display: inline;
}
.soc_icon ul li a { 
  background: #f1f1f1;
  padding: 8px;
  border-radius: 50%;
  margin: 4px;
}

.soc_icon ul li a:hover {
  background: transparent;

}

.appstore ul li {
  display: inline;
}

label.text-center p,li.okay_fam,.soc_icon label {
  font-size: 18px;
  font-weight: 600;
}
label.footer_col p {
  padding: 5px 0px;
}
label.okay_family ul {
  margin: 10px 0px;
}

label.footer_pay {
  margin-top: 15px;
}

.soc_icon label {
  margin-bottom: 15px;
}
.space { 
  margin: 10px 0px;
  text-align: center;
  /*font-size: 11px;*/
  font-style: italic;
  color: #81868d;
  font-weight: 400;
}

section#okay_footer {
  background: #f5f5f5;
  padding-top:50px; 
}
.clr {
  background: #fff;
}


.nav-link.active,.wrn-btn,li.nav-item.active a {
  background-color: #9a2fdb !important; 
  color: #fff !important;

}

label.day_oky56 a {
  /* color: red; */
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  color: #9A2FDB;
  margin-right: 20px;
  /*text-decoration: none;*/
  margin-left: 2px;
}


.carousel {
  margin: 50px auto;
}
.carousel .item {
  color: #999;
  overflow: hidden;
  min-height: 120px;
  font-size: 13px;
}
.carousel .media {
  position: relative;
  padding: 0 0 0 20px;
  margin-left: 20px;
}
.carousel .media img {
  width: 75px;
  height: 75px;
  display: block;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border: 2px solid #fff;
}
.carousel .testimonial {
  color: #fff;
  position: relative;    
  background: #9b9b9b;
  padding: 15px;
  margin: 0 0 20px 20px;
}
.carousel .testimonial::before, .carousel .testimonial::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -20px;
}
.carousel .testimonial::before {
  width: 20px;
  height: 20px;
  background: #9b9b9b;
  box-shadow: inset 12px 0 13px rgba(0,0,0,0.5);
}
.carousel .testimonial::after {
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
}
.carousel .item .row > div:first-child .testimonial {
  margin: 0 20px 20px 0;
}
.carousel .item .row > div:first-child .media {
  margin-left: 0;
}
.carousel .testimonial p {
  text-indent: 40px;
  line-height: 21px;
  margin: 0;
  text-align: justify;
}
.carousel .testimonial p::before {
  content: '"';
  color: #fff;
  /*font-weight: bold;*/
  font-size: 35px;
  line-height: 70px;
  position: absolute;
  left: -3px;
  top: -8px;
}
.carousel .overview {
  padding: 3px 0 0 15px;
}
.carousel .overview .details {
  padding: 5px 0 8px;
}
.carousel .overview b {
  text-transform: uppercase;
  color: #ff5555;
}
.carousel .carousel-control {
  width: 30px;
  height: 30px;
  background: #666;
  text-shadow: none;
  top: 4px;
}
.carousel-control i {
  font-size: 16px;
}
.carousel-control.left {
  left: auto;
  right: 40px;
}
.carousel-control.right {
  left: auto;
}
.carousel-indicators {
  bottom: -80px;
}
.carousel-indicators li, .carousel-indicators li.active {
  width: 10px;
  height: 10px;
  border-radius: 0;
  margin: 1px 4px;
}
.carousel-indicators li { 
  background: #e2e2e2;
  border: 4px solid #fff;
  border-radius: 50px;  
}
.carousel-indicators li.active {
  color: #fff;
  background:#9A2FDB;    
  border: 5px double; 
  border-radius: 50px;   
}
.star-rating li {
  padding: 0 2px;
}
.star-rating i {
  font-size: 14px;
  color: #ffdc12;
}
.ply_56 {
  background: #AD53E3;
  padding: 20px;
}
section.ply_okay {
  margin-top: 50px;
  background: #C37FEC;
}

.ply_09 {
  padding: 20px;
  text-align: right; 
  margin-top: 20px;
}
.ply_09 a img {
  border: 1px solid #fff;
  width: 110px;
  height: 38px;
  margin: 5px;
}

.overlay h3 {
  margin-top: 20px;
  font-weight: 600;
}

.card-img-overlay.rte {
  background: linear-gradient(#ffffff00, #000000);
}
.bv56 {
  box-shadow: -10px 10px 10px -5px rgba(0, 0, 0, .6);
}
.bv56:hover {
  box-shadow: -10px 10px 10px -5px #EFEFEF;
  transition: 800ms ease;
  /*transition: all ease-in-out 0.3s;*/
  cursor: pointer;
}

.card.text-white.mb-4 img:hover {

  transform: scale(1.1);
  overflow: hidden;
  /*width: 222px;*/
}

.bk67 {
  padding: 1px 8px;
  border-radius: 0px;
  font-size: 16px;
  background: #9A2FDB;
  border:2px solid transparent;;
} 

a.btn.btn-danger.bk67:hover {
  background: #9A2FDB;
  border:1px solid transparent;
  color: #000;
} 
.card-img-overlay.rte h5 {
  margin-top: 80px;
  font-size: 18px;
  font-weight: 400;
}
img.card-img {
  border-radius: 0px;
}


ul.socal_345 li {
  display: inline;
  margin: 2px;
  list-style: none;
  margin-bottom: 0px;
}
ul.socal_345  { 
  margin-bottom: 0px;
}

/*.head56 {
    font-weight: 800;
    opacity: 0.8;
    }*/

    .ut7 {
      font-weight: 600;
      margin: 0px;
      font-size: 42px;
    }

    .hed45 {
      background: #fbfbfb;
      border-radius: 10px;
      border: 1px solid #9B2FDB;
    }

    .data12 {
      padding: 20px 0px;
      text-align: center;
       box-shadow: 0 0 15px #cccccc57;
    }

 
section#det90 {
    padding: 5em 0px 4em 0em;
    margin-top: 4%;
    /*background-image: linear-gradient(to top, #C37FEC, #6806A2);*/
}

 



  .head56 {
    font-weight: 600;
    color: #fff;
    font-size: 36px;
    margin-top: 0.7em;
    margin-bottom: 1em;
} 

.tuv12 {
    color: #fff;
    word-spacing: 2px;
}

.attraction-inner.text-center {
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 15px #cccccc57;
    padding: 20px 0px;
    border-radius: 10px;
    margin: 0em 0px 2em;
    color: #000000b3;
}

.attraction-icon i {
    font-size: 32px;
    margin-bottom: 8px;

}
.attraction-inner.text-center:hover {
    background: #9B2FDB;
    color: #fff;
        transition: all ease-in-out 0.5s;
}


.data12:hover {
    background: #9B2FDB;
    color: #fff;
        transition: all ease-in-out 0.5s;
}

.okay_spc { 
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    overflow: hidden;
}

.clr1 {
    background: #9A2FDB;
    border-color: transparent;
    color: #fff;
}

.img23:hover { 
  transform: scale(1.1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out; 
} 